@import url("commun.css");
/* CSS Document */

:root {
  --fond: #15130f;
  --text: #a2723f;
}

#main {
	transition: margin-left .5s;
	margin: 2% 8%;
	background-color: var(--fond);
}


h3{
	color: #cac6b4;
}

p{
	color: #a2723f;
}

/* NAV CARD */
.CARD{
	position: fixed;
	bottom: 5%;
	left: 2%
}

.contentCARD{
	margin-left: 3%;
	position: absolute;
	bottom: 5%;
	opacity: 0%;
	transition: all 1s;
	transition-delay: 0.2s;
}

.sidenav1 {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav1 a {
	margin-left: 3%;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidenav1 a:hover {
	color: #f1f1f1;
}
.sidenav1 .closebtn {
	position: absolute;
	bottom: 10%;
	right: 1%;
	font-size: 36px;
}




/*COLOUMN */
.column1 {
	float: left;
	width: 48%;
}
.column2 {
	float: right;
	width: 32%;
}
.column3 {
	float: left;
	width: 32%;
}

.column4 {
	float: right;
	width: 64%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img{
	width: 100%;
}


/*RESPONSIVE SHIT*/
@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}
