@import url("commun.css");

:root {
  --fond: #cabdbd;

}

h3{
	color: #c88a44;
}

p{
	color: #78433c;
}

/* CSS Document */



/*COLOUMN */
.column1 {
	float: left;
	width: 64%;
}
.column2 {
	float: right;
	width: 32%;
}

.column3 {
	float: left;
	width: 32%;
}
.column4 {
	float: right;
	width: 48%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img{
	width: 100%;
}



/*RESPONSIVE SHIT*/
@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}
